* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1c1c1c;

  --gray-300: #cdcdcd;
  --gray-500: #9e9e9e;
}

html {
  @media (max-width: 992px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 768px) {
    font-size: 87.5%; // 14px
  }
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
