#main-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  .main-content {
    &__title-input-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      &--input-wrapper {
        width: max(30%, 17.5rem);
      }
    }

    &__table-wrapper {
      width: 100%;
      padding: 1px;

      overflow-x: scroll;

      &--table {
        border-collapse: collapse;
        width: 100%;

        tr {
          th {
            background-color: var(--blue);
            color: #fff;
            text-align: center;
            white-space: nowrap;
            padding: 1rem 2rem;

            &:first-child {
              border-radius: 4px 0 0 0;
            }

            &:last-child {
              border-radius: 0 4px 0 0;
            }
          }

          td {
            background-color: #fff;
            color: var(--black);
            text-align: center;
            white-space: nowrap;
            padding: 0.5rem 2rem;
            border-bottom: 1px solid var(--gray-300);

            &:first-child {
              border-left: 1px solid var(--gray-300);
            }

            &:last-child {
              border-right: 1px solid var(--gray-300);
            }

            img {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
